requests~=2.32.3
pandas~=2.2.2
numpy~=2.0.0
matplotlib~=3.8.4
scipy~=1.13.1
xgboost~=2.1.1
scikit-learn~=1.5.0
prophet~=1.1.5
yaml~=0.2.5
pyyaml~=6.0.2
seaborn~=0.13.2
networkx~=3.4.2
dash~=2.14.2
plotly~=5.24.1